@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=Kanit:wght@500&family=Mochiy+Pop+One&family=Poppins:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
h1 {
  color: white !important;

  font-size: 35px;
  font-weight: 800;
}
h2{
  color: #141414;
  font-size: 25;
}

.flex-container {
  width: 100vw;

  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 500px;

}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;

  margin-top: 5px;
  padding-top: 20px;

  border-radius: 12px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  background: #1f1f1f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
}

.subtitle {
  font-size: 18px;

  color: rgba(177, 177, 177, 0.3);
}

input {
  border: none;
  border-bottom: solid rgb(143, 143, 143) 1px;
  margin-bottom: 30px;
  background: none;
  color: rgba(255, 255, 255, 0.555);
  height: 35px;
  width: 300px;
}

.submit-btn {
  cursor: pointer;

  border: none;
  border-radius: 8px;
  margin-top:2rem;
  box-shadow: 2px 2px 7px #29e458;
  background: #09a83e;
  color: rgba(255, 255, 255, 0.8);
  width: 80px;
  transition: all 1s;
}

.submit-btn:hover {
  color: rgb(255, 255, 255);

  box-shadow: none;
}
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

section{
  padding: 0px 0px;
}
section .title{
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  padding-bottom: 30px;
  font-family: sans-serif;
  text-decoration-line:underline;
}
.services{
  color: rgb(175, 136, 28);
 background: white(242, 244, 251);
 
}
.services .serv-content .card{
align-items: center;
 width: 160px;
 height: 160px;
 background:whitesmoke;
 text-align: center;
 border-radius:50%;
 background-blend-mode: multiply;
 background-size: 160px 160px;
 cursor: pointer;
 margin: auto;
 
}
.services .serv-content .card:hover{
 background:rgb(120, 241, 101);
 transform: scale(1.3);
  transition: .3s;
}
.services .serv-content .card:hover.box{
 transform: scale(1.5);
}
.services .serv-content .card i{
 font-size: 50px;
 background:whitesmoke;
 margin: 25px 0px;
}

.services .serv-content .card text{
 font-size: 22px;
 background:whitesmoke;
 font-weight: bold;
 margin-bottom: 25px;
}
h5{
 color: #fff;
 font-size: 23px;
 margin-bottom: 15px;
}

/* Services */
.about, .services, .contact{
    font-family:'Courier New', 'Courier', 'monospace';

}
.about .about-content, .services .serv-content, .contact .contact-content{
    display: flex;
    align-self: center;
    justify-content:space-between;
}
.about .about-content .left{
    width: 30%;
    height: 100%;
    border-radius: 22px;
    margin-top: 70px;
    margin-bottom: 120px;
    margin-left: 12%;
    align-self:center;
    justify-content: center;
    object-fit: fill;
}

.about .about-content .left img{
  position: relative;
    width: 30%;
    object-fit: fill;
    margin-right: 10px;
    border-radius:22px;
}
.about .about-content .right{
    width: 50%;
}
.about .about-content .right .text{
  margin-top: 70px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.about .about-content .right .text span{
    
 background:whitesmoke;
 }
 .about .about-content .right p{
     text-align: justify;
     margin-right: 100px;

 }
 .about .about-content .right a{
     display: inline-block;
     background: rgb(103, 158, 82);
     color: #fff;
     font-size: 20px;
     padding: 10px 30px;
     margin-top: 20px;
     border-radius: 6px;
     border: 2px solid rgb(99, 197, 123);
     transition: all 0.3s ease;
     
 }
 .about .about-content .right a:hover{
     color:black;

     background: whitesmoke;
 }
 /* .............................. */
 /* ....Cpnttact us ........... */
.contact{
  align-items: center;
  background-color: whitesmoke;
}
.contact .contact-content .column{
  width:50%;
}
.contact .left{
  align-items: center;
  margin-left: 15%;
  padding: 20px 20px;
  width:50%;
}
.content .max_width{
  width: 100%;
}
.content .max_width.title {
  font-size: 50px;
}

.contact .contact-content .text{
  font-size:35px;
  font-weight: 60;
  font-weight: bold;
  margin-bottom: 10px;
  
 background:whitesmoke;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-size: 25px;
  color: whitesmoke;
}
.contact .contact-content .info .head{
  
 background:whitesmoke;
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
}
.contact .contact-content .info .sub-title{
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 22px;
  color: black;
}
.contact .right form .fields{
  display: flex;
  height: 120px;
}
.contact .right form .field, 
.contact .right form .fields .field{
  height: 75px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .field input,.contact .right form .textarea textarea{
  height: 110%;
  width: 90%;
  border: 2px solid black;
  background:whitesmoke;;
  border-radius: 10px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: sans-serif;
}
.contact .right form .textarea textarea{
  background-color: whitesmoke;
  padding-top: 15px;
  
  resize: none;
}
.contact .right  .button{
  height: 47px;
  width: 190px;
}
.contact .right  .button button{
  width: 100%;
  height: 100%;
  border: 2px solid rgb(44, 207, 180);
  background: blue;
  color:#fff;
  font-size: 21px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;

}
.contact .right  .button button:hover{
  color:black;
  background: green;
}
/* footer abd social media icons */

.footer p{
  align-items: center;
  width: 100%;
  height: 100%;
  color:white;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 22px;
  background: rgb(0, 21, 40);
  font-size: 22px;
  
}
/* ..................flipping */


.about .about-content .right1{
  width: 30%;
  border-radius: 22px;
  margin-bottom: 100px;
  margin-right: 10%;
  align-self:center;
  justify-content: center;
}

.about .about-content .right1 img{

  width: 30%;
  object-fit: cover;
  padding-top: 10px;
  border-radius: 22px;
}
.about .about-content .left1{
  width: 50%;
}
.about .about-content .left1 .text{
  font-size: 25px;
  font-weight: 600px;
  margin-left: 50%;
  padding-left:50px;
  font-weight: bold;
  margin-bottom: 10px;
  
}
.about .about-content .left1 .text span{
  color:rgb(6, 10, 14);
}
.about .about-content .left1 p{
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   padding-left: 100px;

}
.about .about-content .left1 a:hover{
   color:black;

   background: whitesmoke;
}
.about .about-content .left1 a{
  display: inline-block;
  background: rgb(103, 158, 82);
  color: whitesmoke;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  margin-left: 56%;
  border-radius: 6px;
  border: 2px solid rgb(99, 197, 123);
  transition: all 0.3s ease;
  padding-bottom: 20px;
  
}
.effect-wrap .effect{
  position: absolute;
  z-index: -1;

}

.effect-1{
  width: 40px;
  height: 40px;
  border: 4px solid rgb(45, 172, 62);
  right: 80%;
  bottom:10%;
  animation: spin 6s linear infinite;
}
@keyframes spin {
  0%{ 
      transform: rotate(0deg);

}100%{
  transform: rotate(360deg);

}}
.effect-2{
  width: 40px;
  height: 40px;
  border: 4px solid rgb(209, 70, 89);
  left: 80%;
  top:1%;
  animation: spin2 10s linear infinite;
}
@keyframes spin2 {
  0%{ 
      transform: rotate(0deg);

}100%{
  transform: rotate(360deg);

}}
.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.justify-content-between{
  justify-content:center;
}
.row .logo{
  color:black;
  width: 3%;
  content: fill;
  align-items: center;
  border-radius: 50%;
}
.row .logo a{
  color:black;
  padding-top: 200px;
  font-size: 35;
}
.row .logo Image:hover{
  scale:1.9;
}
.hand-in-hand{
  height: 70vh;
  
}
.box-wrapper {
  height: 55vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  text-align:center;
justify-content: space-evenly
}

.box3 {
  padding: 76px;
  padding-bottom: 120px;
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: row;
}

.box4 {
  
  border-radius: 22px;
  align-items: center;
  position: relative;
  flex-grow:1;
}
.box4 img{
  height: 100;
  width: 100%;
  border-radius: 22px;
}
.has-text-black
{
  padding-top: 20px;
  margin: 5px;
  font-size: 22px;
  align-items: center;
  justify-self: center;
}
.column .is-one-third{
  width:450px;
}
.card12 {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  padding-top: 20px;
  background-color: #aaadab;
  width: 500px;
  height:70vh ;
}

.card12 .card-content12 .content12 h2{
  align-content:center ;
  font-size: 26px;
}
.card-content12{
  width: 450px;
}
.mt-7{
  margin: 0px;
}
.button12{
  
  background: rgb(0, 21, 40);
  color: aliceblue;
  border-color: beige;
  border-radius:22px ;
  font-size: 18px;
  width: 300px;
  height: 35px;
}
.transaction-history{
  font-size: 18px;
}
.button12:hover{
 scale:1.2em;
 background-color: #55eb87;
 color: black;

}
.navbar-end
{
  width:2000px;
  padding-top: 10px;
  padding-right:900px;
  padding-bottom: 10px;
  background: rgb(0, 21, 40);
  align-items: center;
  border-radius: 20px;
  justify-content: center;

}